[Unit]
Description=Stop Intel throttling (created by erpalma on GitHub)

[Service]
Type=simple
ExecStart=/opt/ThinkpadTools/venv/bin/python3  /opt/ThinkpadTools/newCPU_throttling_fix.py
# Setting PYTHONUNBUFFERED is necessary to see the output of this service in the journal
Environment=PYTHONUNBUFFERED=1
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
