[Unit]
Description=Thinkpad Tools
After=multi-user.target

[Service]
Type=idle
ExecStart=/opt/ThinkpadTools/venv/bin/python3 /opt/ThinkpadTools/service_runner.py

[Install]
WantedBy=multi-user.target